HVLH.SistemaCaja.Servicio/Connected Services/SWReniec/serviciomq.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtenerDatosBasicos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nrodoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosBasicosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerDatosBasicosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Credencialmq" type="tns:Credencialmq" />
      <s:complexType name="Credencialmq">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="app" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="obtenerDatosCompletos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nrodoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosCompletosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerDatosCompletosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerDatosBasicosSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerDatosBasicos" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosBasicosSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerDatosBasicosResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosBasicosCredencialmq">
    <wsdl:part name="Credencialmq" element="tns:Credencialmq" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosCompletosSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerDatosCompletos" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosCompletosSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerDatosCompletosResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosCompletosCredencialmq">
    <wsdl:part name="Credencialmq" element="tns:Credencialmq" />
  </wsdl:message>
  <wsdl:portType name="serviciomqSoap">
    <wsdl:operation name="obtenerDatosBasicos">
      <wsdl:input message="tns:obtenerDatosBasicosSoapIn" />
      <wsdl:output message="tns:obtenerDatosBasicosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosCompletos">
      <wsdl:input message="tns:obtenerDatosCompletosSoapIn" />
      <wsdl:output message="tns:obtenerDatosCompletosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviciomqSoap" type="tns:serviciomqSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerDatosBasicos">
      <soap:operation soapAction="http://tempuri.org/obtenerDatosBasicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:obtenerDatosBasicosCredencialmq" part="Credencialmq" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosCompletos">
      <soap:operation soapAction="http://tempuri.org/obtenerDatosCompletos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:obtenerDatosCompletosCredencialmq" part="Credencialmq" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviciomqSoap12" type="tns:serviciomqSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerDatosBasicos">
      <soap12:operation soapAction="http://tempuri.org/obtenerDatosBasicos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:obtenerDatosBasicosCredencialmq" part="Credencialmq" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosCompletos">
      <soap12:operation soapAction="http://tempuri.org/obtenerDatosCompletos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:obtenerDatosCompletosCredencialmq" part="Credencialmq" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviciomq">
    <wsdl:port name="serviciomqSoap" binding="tns:serviciomqSoap">
      <soap:address location="http://wsvmin.minsa.gob.pe/wsreniecmq/serviciomq.asmx" />
    </wsdl:port>
    <wsdl:port name="serviciomqSoap12" binding="tns:serviciomqSoap12">
      <soap12:address location="http://wsvmin.minsa.gob.pe/wsreniecmq/serviciomq.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>